@using ipcsmembros.Enum;
@model ipcsmembros.ViewModels.Membros.AdicionarMembroViewModel

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Cadastrar Membros</h1>
            </div>
        </div>
    </div>
</section>

<div class="content">
    <div class="row">
        <div class="col-12">
            <form asp-action="Adicionar">
                <div class="card">
                    <div class="card-body">

                        <div class="form-group">
                            <label asp-for="Nome" class="control-label"></label>
                            <input asp-for="Nome" class="form-control">
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>

                        <div class="Ativo">
                            <label class="radio-option">
                                <label asp-for="Ativo" class="control-label"></label>
                                <input type="radio" name="Ativo" value="1" />
                                <span class="option-label">Ativo</span>
                            </label>
                            <label class="radio-option">
                                <input type="radio" name="Ativo" value="0" />
                                <span class="option-label">Inativo</span>
                            </label>
                        </div>

                        <div class="Email">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="Celular">
                            <label asp-for="Celular" class="control-label"></label>
                            <input asp-for="Celular" class="form-control" mask="(99)9-9999-9999">
                            <span asp-validation-for="Celular" class="text-danger"></span>
                        </div>

                        <div class="Sexo">
                            <label class="radio-option">
                                <label asp-for="Sexo" class="control-label"></label>
                                <input type="radio" name="Sexo" value="M" />
                                <span class="option-label">Masculino</span>
                            </label>
                            <label class="radio-option">
                                <input type="radio" name="Sexo" value="F" />
                                <span class="option-label">Feminino</span>
                            </label>
                            <span asp-validation-for="Sexo" class="text-danger"></span>
                        </div>

                        @* <div class="TipoMembro">
                            <input asp-for="TipoMembro" class="form-control">
                            <label asp-for="TipoMembro" class="control-label"></label>
                            <span asp-validation-for="TipoMembro" class="text-danger"></span>
                        </div> *@

                        
                        <div>
                            <label asp-for="TipoMembro" class="form-label"></label>
                            <select asp-for="TipoMembro" asp-items="Html.GetEnumSelectList<EnumTipoMembro>()" class="form-select">
                                <option selected="selected" value="">Selecione o tipo de membro</option>
                            </select>
                        </div>
                        

                        <div class="DataNascimento">
                            <label asp-for="DataNascimento" class="control-label"></label>
                            <input asp-for="DataNascimento" class="form-control">
                            <span asp-validation-for="DataNascimento" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="card-footer text-right">
                        <button class="btn btn-primary" type="submit">Salvar</button>
                    </div>
                </div>
            </form>       
        </div>
    </div>
</div>