<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Membros</h1>
            </div>
        </div>
    </div>        
</section>

<div class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body table-responsive p-0">
                    <table class="table table-head-fixed text-nowrap">
                        <thread>
                            <tr>
                                <th style="width: 200px;">Id</th>
                                <th>Nome</th>
                                <th style="width: 40px;"></th>
                            </tr>
                        </thread>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
