<section class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1>Cadastro de Membros da IPCS</h1>
			</div>
		</div>
	</div>
</section>

<div class="content">
	<div class="row">
		<div class="col-md-3">
		<a class="AtalhoAdicionarMembro" asp-action="Adicionar" asp-controller="Membros">
			<div class="info-box shadow-sm">
				<span class="info-box-icon bg-success">
					<i class="fas fa-user"></i>
				</span>
				<div class="info-box-content">
					<span class="info-box-text">Membro</span>
					<span class="info-box-number">Cadastrar Novo Membro</span>
				</div>
			</div>
		</a>
		</div>
	</div>
</div>